name: achievements
on:
  schedule: [{ cron: "12 5 * * *" }]
  workflow_dispatch:
  push:
    branches: ["master", "main"]
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          retries: 3
          retries_delay: 300
          retries_output_action: 5
          retries_delay_output_action: 120
          user: royerramirez
          template: classic
          base: ""
          filename: assets/metrics_right.svg
          config_timezone: America/Los_Angeles
          plugin_achievements: no # TODO(royerruiz): Re-Enable after lowlighter/metrics migrates to Projects V2.
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_types: commit